<%= form_for(@kpi) do |f| %>
  <% if @kpi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kpi.errors.count, "error") %> prohibited this kpi from being saved:</h2>

      <ul>
      <% @kpi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :weighting %><br>
    <%= f.number_field :weighting %>
  </div>
  <div class="field">
    <%= f.label :baseline %><br>
    <%= f.number_field :baseline %>
  </div>
  <div class="field">
    <%= f.label :target %><br>
    <%= f.number_field :target %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
