
<div class="right"> <%= link_to 'New Project', new_project_path, class:"btn btn-default" %> </div>

   <% @projects.each do |project| %>
    <table class="table">
      <thead>
        <th> Project </th>
        <th> Status </th>
        <th> Start Date </th>
        <th> End Date </th>
        <th> Channels </th>
      </thead>
      <tr>
        <div class="row">
        <div class="col-md-4">
        <td>
          <p> <%= project.name %> </p>
          </br>
          <p width="50%"> <%= project.description %> </p>
         </td>
       </div>
        <td>
          <p> <%= project.status %> </p>
        </td>
        <td>
          <p><%= project.startdate %></p>
        </td>
        <td>
          <p><%= project.enddate %></p>
        </td>
         <td>
        <% project.channels.each do 
        |channel| %>
        <%= channel.name %><%= "," unless channel == project.channels.last %>
        <% end %>
      </td>
<td><%= link_to 'Show', project , class:"btn btn-link"%></td>
        <td><%= link_to 'Edit', edit_project_path(project), class:"btn btn-link" %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-link"%></td>
        <div>
  </tr>
  </table>
  <%end %>



