<p id="notice"><%= notice %></p>

 <h2> <%= @project.name %> </h2>
<div class="row">
  <div class="col-md-4">
  <p>  <%= @project.description %> </p>
</div>

 <div class="col-md-4">
<p>
  <strong>Start Date:</strong>
  <%= @project.startdate %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @project.enddate %>
</p>
</div>
 <div class="col-md-4">
<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>
</div>
</div>
<div class="row">
  <div class="col-md-12">
  <p>
  <h4>Channels:</h4>
</br>
  <div class="col-md-4">
  <% @channels.each do |channel| %>
  <%= channel.name %>   <%= link_to "Show Report",reports_path( :channel_id => channel.id),class:"btn btn-link" %></br>
  <% end %>
</div>
</p>
</div>
<div class="row">
  <div class="col-md-12">
  <p>
  <h4>Metrics:</h4>
</br>
  <div class="col-md-4">
  <% @metrics.each do |metric| %>
  <%= metric.name %>  </br>
  <% end %>
</div>
</p>
</div>
</div>
<%= link_to 'Edit', edit_project_path(@project), class:"btn btn-link" %> |
<%= link_to 'Back', projects_path, class:"btn btn-link" %>

