<% content_for :title, "Reports" %>
<h2>Select a Campaign to View Reports</h2>

<table class="table table-bordered">
    <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Sent at</th>
    </tr>

    <% @campaigns.each do |campaign| %>
    <% if campaign['title'].downcase().include? @project.keyword.downcase() %>
    <tr>
        <td><a href="/reports/<%= campaign['id'] %>?channel_id=<%= @channel.id %>&project_id=<%= @project.id %>"><%= campaign['title'] %></a></td>
        <td><%= campaign['type'] %></td>
        <td><%= campaign['send_time'] %></td>
    </tr>
       <% end %>
    <% end %>

</table>

