<% content_for :title, "Report for:  %s" % @campaign['title'] %>
<h2>Report for:  <%= @campaign['title'] %></h2>

  <% @project.metrics.each do |metric|%>
      <% if metric.name == "Hard Bounces" %>
        <h3>Hard Bounces</h3>
        <strong><%= @report['hard_bounces'] %></strong>
        <% end %>
         <% if metric.name == "Soft Bounces" %>
         <h3>Soft Bounces</h3>
        <strong> <%= @report['soft_bounces'] %></strong>
         <% end %>
           <% if metric.name == "Abuse Reports" %>
         <h3>Abuse Reports</h3>
        <strong> <%= @report['abuse_reports'] %></strong>
         <% end %>
         <% if metric.name == "Unsubscribes" %>
         <h3>Unsubscribes</h3>
         <strong><%= @report['unsubscribes'] %></strong>
         <% end %>

         <% if metric.name == "Opens" %>
        <h3>Opens</h3>
        <strong><%= @report['opens'] %></strong>
        <% end %>
         <% if metric.name == "Unique Opens" %>
         <h3>Unique Opens</h3>
        <strong> <%= @report['unique_opens'] %></strong>
         <% end %>
           <% if metric.name == "Last Open" %>
         <h3>Last Open</h3>
        <strong> <%= @report['last_open'] %></strong>
         <% end %>
         <% if metric.name == "Unsubscribes" %>
         <h3>Unsubscribes</h3>
         <strong><%= @report['unsubscribes'] %></strong>
         <% end %>


         <% if metric.name == "Clicks" %>
        <h3>Clicks</h3>
        <strong><%= @report['clicks'] %></strong>
        <% end %>
         <% if metric.name == "Unique Clicks" %>
         <h3>Unique Clicks</h3>
        <strong> <%= @report['unique_clicks'] %></strong>
         <% end %>
           <% if metric.name == "Last Click" %>
         <h3>Last Open</h3>
        <strong> <%= @report['last_click'] %></strong>
         <% end %>
         <% if metric.name == "Users who Clicked" %>
         <h3>Unsubscribes</h3>
         <strong><%= @report['users_who_clicked'] %></strong>
         <% end %>
    <% end %>


